{% extends 'base.html.twig' %}

{% block title %}ConditionDesignationPartie{% endblock %}

{% block body %}
    <h1>ConditionDesignationPartie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ condition_designation_partie.id }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ condition_designation_partie.duree }}</td>
            </tr>
            <tr>
                <th>Renouvelabilite</th>
                <td>{{ condition_designation_partie.renouvelabilite }}</td>
            </tr>
            <tr>
                <th>IsCumulable</th>
                <td>{{ condition_designation_partie.isCumulable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('condition_designation_partie_index') }}">back to list</a>

    <a href="{{ path('condition_designation_partie_edit', {'id': condition_designation_partie.id}) }}">edit</a>

    {{ include('condition_designation_partie/_delete_form.html.twig') }}
{% endblock %}
