{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>Index</h1>

    {% if not app.user %}
      <p>
        <a href="{{ path('user_registration') }}"> <class="button">S'enregistrer</a>
      </p>
      <p>
        <a href="{{ path('login') }}"> <class="button">Login</a>
      </p>
    {% endif %}

    {% if app.user %}
      <p>
        <a href="{{ path('logout') }}"> <class="button">Logout</a>
      </p>
      <p>
        <a href="{{ path('partie_new') }}"> <class="button">Créer une partie</a>
      </p>
      <h3> Utilisateur : </h3>
      <p>
        Nom : {{ app.user.username }}
      </p>
      <p>
        Mail : {{ app.user.email }}
      </p>
      <p>
        Vous avez
        {% for partie in parties %}
              {{ parties|length }}
        {% endfor %}
        parties en cours
      </p>
    {% endif %}

{% endblock %}
