{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

<div class="index-page">
    {% if not app.user %}
    <h1 class="ui header">Crée ta Constitution !</h1>
      <a href="{{ path('user_registration') }}">
        <button class="ui basic button">
          <i class="icon edit"></i>
          S'enregistrer
        </button>
      </a>

      <a href="{{ path('login') }}">
        <button class="ui basic button">
          <i class="icon sign-in"></i>
             <class="button">Login
        </button>
      </a>
    {% endif %}

    {% if app.user %}
    <h1 class="ui header">Bonjour {{ app.user.username }}</h1>

    <div class="ui right aligned grid">

      <div class="left floated right aligned six wide column">
        <a class="menu-sous-item" href="{{ path('user_profile') }}">
          <div class="ui segment">
            <h2 class="ui header column">
              <i class="address card icon"></i>
              <div class="content">
                Voir mon profile
              </div>
            </h2>
          </div>
        </a>
      </div>


      <div class="right floated left aligned six wide column">
        <a class="menu-sous-item" href="{{ path('partie_liste') }}">
          <div class="ui segment">
            <h2 class="ui header column">
              <i class="edit icon"></i>
                <div class="content">
                  Voir mes parties
                </div>
              </h2>
            </div>
          </a>
        </div>
      </div>

      <div class="ui right aligned grid">
        <div class="left floated right aligned six wide column">
          <a class="menu-sous-item" href="{{ path('partie_liste') }}">
            <div class="ui segment">
              <h2 class="ui header column">
                <i class="plus icon"></i>
                <div class="content">
                  Créer une partie
                </div>
              </h2>
            </div>
          </a>
        </div>

        <div class="right floated left aligned six wide column">
          <a class="menu-sous-item" href="{{ path('logout') }}">
            <div class="ui segment">
              <h2 class="ui header column">
                <i class="sign-out icon"></i>
                  <div class="content">
                    Se déconnecter
                  </div>
                </h2>
              </div>
            </a>
          </div>
        </div>
    {% endif %}

  </div>

{% endblock %}
