{% extends 'base.html.twig' %}

{% block title %}ConditionPouvoirPartie index{% endblock %}

{% block body %}
    <h1>ConditionPouvoirPartie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Parametre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for condition_pouvoir_partie in condition_pouvoir_parties %}
            <tr>
                <td>{{ condition_pouvoir_partie.id }}</td>
                <td>{{ condition_pouvoir_partie.nom }}</td>
                <td>{{ condition_pouvoir_partie.parametre }}</td>
                <td>
                    <a href="{{ path('condition_pouvoir_partie_show', {'id': condition_pouvoir_partie.id}) }}">show</a>
                    <a href="{{ path('condition_pouvoir_partie_edit', {'id': condition_pouvoir_partie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('condition_pouvoir_partie_new') }}">Create new</a>
{% endblock %}
