{% extends 'base.html.twig' %}

{% block title %}ConditionPouvoirPartie{% endblock %}

{% block body %}
    <h1>ConditionPouvoirPartie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ condition_pouvoir_partie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ condition_pouvoir_partie.nom }}</td>
            </tr>
            <tr>
                <th>Parametre</th>
                <td>{{ condition_pouvoir_partie.parametre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('condition_pouvoir_partie_index') }}">back to list</a>

    <a href="{{ path('condition_pouvoir_partie_edit', {'id': condition_pouvoir_partie.id}) }}">edit</a>

    {{ include('condition_pouvoir_partie/_delete_form.html.twig') }}
{% endblock %}
