{{ form_start(form, {
    'attr': {
        'class': 'form-inline js-new-acteur-form',
        'novalidate': 'novalidate',
        'data-url' : path('acteur_partie_newJS')
    }
}) }}

    {{ form_errors(form) }}
    <div class="form-group">
    {{ form_row(form.nom)}}
    </div>

    <div class="form-group">
    {{ form_row(form.nombreIndividus)}}
    </div>

    <div class="form-group">
    {{ form_row(form.typeActeur)}}
    </div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
