{% extends 'base.html.twig' %}

{% block title %}ActeurPartie index{% endblock %}

{% block body %}
    <h1>ActeurPartie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>NombreIndividus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acteur_partie in acteur_parties %}
            <tr>
                <td>{{ acteur_partie.id }}</td>
                <td>{{ acteur_partie.nom }}</td>
                <td>{{ acteur_partie.nombreIndividus }}</td>
                <td>
                    <a href="{{ path('acteur_partie_show', {'id': acteur_partie.id}) }}">show</a>
                    <a href="{{ path('acteur_partie_edit', {'id': acteur_partie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('acteur_partie_new') }}">Créer un nouvel acteur</a>
{% endblock %}
