{% extends 'base.html.twig' %}

{% block title %}PouvoirPartie index{% endblock %}

{% block body %}
    <h1>PouvoirPartie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pouvoir_partie in pouvoir_parties %}
            <tr>
                <td>{{ pouvoir_partie.id }}</td>
                <td>{{ pouvoir_partie.nom }}</td>
                <td>
                    <a href="{{ path('pouvoir_partie_show', {'id': pouvoir_partie.id}) }}">show</a>
                    <a href="{{ path('pouvoir_partie_edit', {'id': pouvoir_partie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pouvoir_partie_new') }}">Create new</a>
{% endblock %}
