{% extends 'base.html.twig' %}

{% block title %}PouvoirPartie{% endblock %}

{% block body %}
    <h1>PouvoirPartie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pouvoir_partie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pouvoir_partie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pouvoir_partie_index') }}">back to list</a>

    <a href="{{ path('pouvoir_partie_edit', {'id': pouvoir_partie.id}) }}">edit</a>

    {{ include('pouvoir_partie/_delete_form.html.twig') }}
{% endblock %}
