{% extends 'base.html.twig' %}

{% block title %}DesignationPartie index{% endblock %}

{% block body %}
    <h1>DesignationPartie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for designation_partie in designation_parties %}
            <tr>
                <td>{{ designation_partie.id }}</td>
                <td>{{ designation_partie.nom }}</td>
                <td>
                    <a href="{{ path('designation_partie_show', {'id': designation_partie.id}) }}">show</a>
                    <a href="{{ path('designation_partie_edit', {'id': designation_partie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('designation_partie_new') }}">Create new</a>
{% endblock %}
