{% extends 'base.html.twig' %}

{% block title %}DesignationPartie{% endblock %}

{% block body %}
    <h1>DesignationPartie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ designation_partie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ designation_partie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('designation_partie_index') }}">back to list</a>

    <a href="{{ path('designation_partie_edit', {'id': designation_partie.id}) }}">edit</a>

    {{ include('designation_partie/_delete_form.html.twig') }}
{% endblock %}
