<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Consitution!{% endblock %}</title>

    {% block stylesheets %}
      <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
      <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" />
    {% endblock %}

</head>
<body>

{% block header %}
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="">Constitution</a>
          </div>
          <div class="navbar-nav">
            {% if app.user %}
               {% if app.session.get('partieCourante') is not null %}
                   <a class="navbar-brand" href="{{ path('partie_show', {'id':app.session.get('partieCourante').id}) }}">Partie en cours : {{app.session.get('partieCourante').nom}}</a>
                   <a class="navbar-brand" href="{{ path('partie_liste') }}">Changer de partie</a>
               {% endif %}
            {% endif %}
            {% if not app.user %}
               <a href="{{ path('login') }}"> <class="button">Login</a>
            {% endif %}
          </div>
          <div class="navbar-collapse collapse">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <ul class="nav navbar-nav navbar-right">
                      <li class="drop-down">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span> <strong>{{ app.user.username }}</strong> <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ path('partie_new') }}">
                                      <span class="fa fa-child"></span>
                                      Nouvelle partie
                              </li>
                              <li>
                                  <a href="{{ path('logout') }}">
                                      <span class="fa fa-sign-out"></span>
                                      Se déconnecter
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              {% else %}
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a href="{{ path('user_registration') }}">
                              S'enregistrer
                          </a>
                      </li>
                  </ul>
              {% endif %}

          </div>
          <!--/.navbar-collapse -->
      </div>
  </div>
{% endblock %}

<div class="container main-content">
  {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="flash-{{ type }} alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
  {% endfor %}
  {% block body %}{% endblock %}
</div>

    {% block javascripts %}
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
      <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.map"></script>
    {% endblock %}

</body>
</html>
