<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
          <div class="header">
            <div class="header-right">
            {% if app.user %}
               <a href="{{ path('logout') }}"> <class="button">Logout</a>
               <a href="{{ path('partie_new') }}"> <class="button">Créer une partie</a>
               <a>Utilisateur : {{ app.user.username }}</a>
               {% if partieCourante is defined %}
                   <a href="{{ path('partie_show', {'id':partieCourante.id}) }}">Partie en cours : {{partieCourante.nom}}</a>
                   <a href="{{ path('partie_index') }}">Changer de partie</a>
               {% endif %}
            {% endif %}
            {% if not app.user %}
               <a href="{{ path('login') }}"> <class="button">Login</a>
            {% endif %}
            </div>
          </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
