<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Constitution!{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

</head>
<body>

{% block header %}
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="" data-toggle="tooltip" data-placement="bottom" title="Créez votre Constitution">Constitution</a>
          </div>
          <div class="navbar-nav">
            {% if app.user %}
               {% if app.session.get('partieCourante') is not null %}
                   <a class="navbar-brand" href="{{ path('partie_show', {'id':app.session.get('partieCourante').id}) }}">Partie en cours : {{app.session.get('partieCourante').nom}}</a>
                   <a class="navbar-brand" href="{{ path('partie_liste') }}">Changer de partie</a>
               {% endif %}
            {% endif %}
            {% if not app.user %}
               <a href="{{ path('login') }}"> <class="button">Login</a>
            {% endif %}
          </div>
          <div class="navbar-collapse collapse">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <ul class="nav navbar-nav navbar-right">
                      <li class="drop-down">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span> <strong>{{ app.user.username }}</strong> <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li>
                                  <a href="{{ path('partie_new') }}">
                                      <span class="fa fa-child"></span>
                                      Nouvelle partie
                              </li>
                              <li>
                                  <a href="{{ path('logout') }}">
                                      <span class="fa fa-sign-out"></span>
                                      Se déconnecter
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              {% else %}
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a href="{{ path('user_registration') }}">
                              S'enregistrer
                          </a>
                      </li>
                  </ul>
              {% endif %}

          </div>
          <!--/.navbar-collapse -->
      </div>
  </div>
{% endblock %}

<div class="container main-content">
  {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="flash-{{ type }} alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
  {% endfor %}
  {% block body %}{% endblock %}
</div>

    {% block javascripts %}
      <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
      <script src="{{ asset('build/layout.js') }}"></script>
    {% endblock %}

</body>
</html>
