<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Constitution!{% endblock %}</title>

    {% block stylesheets %}
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css"/>
      <link rel="stylesheet" href="{{asset('build/layout.css')}}"/>
    {% endblock %}

</head>
<body>

{% block header %}
  <div class="ui stackable top fixed menu">
      <div class="item menu-logo">
          <a href="{{ path('index') }}" data-toggle="tooltip" data-placement="bottom" title="Créez votre Constitution">Constitution</a>
      </div>
        {% if app.user %}
           {% if app.session.get('partieCourante') is not null %}
           <div class="item">
               <a href="{{ path('partie_show', {'id':app.session.get('partieCourante').id}) }}">Partie en cours : {{app.session.get('partieCourante').nom}}</a>
           </div>
           <div class="item">
               <a href="{{ path('partie_liste') }}">Changer de partie</a>
           </div>
           {% endif %}
        {% endif %}


          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <div class="right menu">
                <div class="ui simple dropdown item">
                  <a href="{{ path('user_profile')}}">
                    <strong>{{ app.user.username }}</strong>
                  </a>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item">
                      <a href="{{ path('partie_new') }}">
                        <i class="icon plus"></i>
                        Nouvelle partie</div>
                    <div class="item"><a href="{{ path('logout') }}">
                        <i class="icon sign-out"></i>
                        Se déconnecter
                    </a></div>

                  </div>
                </div>

            </div>
          {% else %}
          <div class="right menu">
            {% if not app.user %}
              <div class="item">
                <a href="{{ path('login') }}">
                  <i class="icon sign-in"></i>
                  Login
                </a>
              </div>
            {% endif %}
            <div class="item">
              <a href="{{ path('user_registration') }}">
                  <i class="icon edit"></i>
                  S'enregistrer
              </a>
              </div>
              </div>

          {% endif %}

      </div>
    </div>
      <!--/.navbar-collapse -->
  </div>
{% endblock %}

<div class="container-fluid text-center">
  <div class="row content">
    {% block leftmenu %}
      <div class="col-sm-2 sidenav">
      </div>
    {% endblock %}
    {% for type, messages in app.session.flashbag.all() %}
      {% for message in messages %}
          <div class="flash-{{ type }} alert alert-info">
              {{ message }}
          </div>
      {% endfor %}
    {% endfor %}
    <div class="col-sm-8 text-left">
      {% block body %}
      {% endblock %}
    </div>
    {% block rightmenu %}
    <div class="col-sm-2 sidenav">
    </div>
    {% endblock %}
  </div>
</div>
{% block footer %}
<footer class="container-fluid text-center">
  <p>Serious game by Voots</p>
</footer>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  <script src="{{ asset('build/manifest.js') }}"></script>
  <script src="{{ asset('build/layout.js') }}"></script>
{% endblock %}

</body>
</html>
