<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
          <div class="header">
            <div class="header-right">
            {% if app.user %}
               <a href="{{ path('logout') }}"> <class="button">Logout</a>
               <a href="{{ path('partie_new') }}"> <class="button">Créer une partie</a>
               <a>Utilisateur : {{ app.user.username }}</a>
               {% if app.session.get('partieCourante') is not null %}
                   <a href="{{ path('partie_show', {'id':app.session.get('partieCourante').id}) }}">Partie en cours : {{app.session.get('partieCourante').nom}}</a>
                   <a href="{{ path('partie_liste') }}">Changer de partie</a>
               {% endif %}
            {% endif %}
            {% if not app.user %}
               <a href="{{ path('login') }}"> <class="button">Login</a>
            {% endif %}
            </div>
          </div>
        {% endblock %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
