<tr>
    <td>{{ acteur_partie.nom }}</td>
    <td>{{ acteur_partie.nombreIndividus }}</td>
    <td>
        <a href="{{ path('acteur_partie_show', {'id': acteur_partie.id}) }}">show</a>
        <a href="{{ path('acteur_partie_edit', {'id': acteur_partie.id}) }}">edit</a>
    </td>
    <td>
      <ul>
        {% for pouvoirs_acteur in acteur_partie.pouvoirParties %}
        <a href="{{ path('pouvoir_partie_show', {'id': pouvoirs_acteur.id}) }}"><li>{{ pouvoirs_acteur }}</li></a>
          <ul>
          {% for condition_pouvoir in pouvoirs_acteur.conditionsPouvoirs %}
            <li>{{condition_pouvoir.nom}}</li>
          {% endfor %}
          </ul>
        {% endfor %}
      </ul>
    </td>
    <td>
      <ul>
        {% for acteur_designe in acteur_partie.acteursDesignes %}
        <a href="{{ path('designation_partie_show', {'id':  acteur_designe.id}) }}"<li>{{ acteur_designe.designation }} par {{ acteur_designe.acteurDesignant }}</li>
        {% endfor %}
      </ul>
    </td>
    <td>{{ acteur_partie.forceActeur }}</td>
    <td>
      <a href="#"
        class="js-delete-acteur"
        data-url="{{ path('acteur_partie_delete', {id: acteur_partie.id}) }}"
      >
        <span class="fa fa-trash"></span>
      </a>
    </td>
</tr>
