{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}
    <h2>Partie en cours</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>{{ partieCourante.nom }}</td>
                <td><a href="{{ path('partie_liste') }}">Liste des parties</a></td>
                <td><a href="{{ path('partie_edit', {'id': partieCourante.id}) }}">Editer la partie en cours</a></td>
            </tr>
        </tbody>
    </table>


    <!--  <a href="{{ path('partie_new') }}">Create new</a> -->
      <br>
      <h2>Acteurs de la partie en cours</h2>
      <table class="table">
          <thead>
              <tr>
                  <th>Nom</th>
                  <th>Nb Individus</th>
                  <th>Actions</th>
                  <th>Pouvoirs de l'acteur</th>
                  <th>Désigné par</th>
                  <th>Force</th>
              </tr>
          </thead>
          <tbody>
          {% for acteur_partie in acteurs %}
              <tr>
                  <td>{{ acteur_partie.nom }}</td>
                  <td>{{ acteur_partie.nombreIndividus }}</td>
                  <td>
                      <a href="{{ path('acteur_partie_show', {'id': acteur_partie.id}) }}">show</a>
                      <a href="{{ path('acteur_partie_edit', {'id': acteur_partie.id}) }}">edit</a>
                  </td>
                  <td>
                    <ul>
                      {% for pouvoirs_acteur in acteur_partie.pouvoirParties %}
                      <a href="{{ path('pouvoir_partie_show', {'id': pouvoirs_acteur.id}) }}"><li>{{ pouvoirs_acteur }}</li></a>
                        <ul>
                        {% for condition_pouvoir in pouvoirs_acteur.conditionsPouvoirs %}
                          <li>{{condition_pouvoir.nom}}</li>
                        {% endfor %}
                        </ul>
                      {% endfor %}
                    </ul>
                  </td>
                  <td>
                    <ul>
                      {% for acteur_designe in acteur_partie.acteursDesignes %}
                      <a href="{{ path('designation_partie_show', {'id':  acteur_designe.id}) }}"<li>{{ acteur_designe.designation }} par {{ acteur_designe.acteurDesignant }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                  <td>{{ acteur_partie.forceActeur }}</td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="4">pas d'acteur</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
      <a href="{{ path('acteur_partie_new') }}">Nouvel acteur</a>

      <br>

      {% if acteurs|length > 0 %}
      <a href="{{ path('pouvoir_partie_new') }}">Nouveau pouvoir</a>
      {% endif %}

      <br>

      {% if acteurs|length > 1 %}
      <a href="{{ path('designation_partie_new') }}">Nouvelle désignation</a>
      {% endif %}

      <br>

      {% if pouvoir_parties|length > 1 %}
      <a href="{{ path('condition_pouvoir_partie_new') }}">Nouvelle condition pouvoir</a>
      {% endif %}

      <ul>
        <li>S {{ partieCourante.stabilite }}</li>
        <li>E {{ partieCourante.equilibre }}</li>
        <li>D {{ partieCourante.democratie }}</li>
      </ul>

{% endblock %}
